<h1 class="display-4">MSGs</h1>
<p class="mb-4">List</p>
<a href="messages/list" class="btn btn-light">Show msgs</a>
<a href="messages/add" class="btn btn-light">Add msgs</a>
<a href="messages/random" class="btn btn-light">Random msg</a>